/*  your css code here. If applicable */
.main-div{
	font-size:8px;
	height:10px;
	width:80%;
}
#yellow{
	background-color:yellow;
	border:1px solid green;
	
	
}
#red{
	background-color:red;
	border:1px solid black;
	
	
}
#green{
	background-color:green;
	border:1px solid yellow;
	
}